<h1> Sign up </h1>

<form method = "post" action = "/sign_up">

  <div>
    <label>Username</label>
    <input type="text" name="username">
  </div>

   <div>
    <label>Email</label>
    <input type="text" name="email">
  </div>

   <div>
    <label>Password</label>
    <input type="password" name="password">
  </div>

 <div>
    <input type="submit" name="Sign up!">
  </div>

  </form>