<h1>Welcome to the Goldmine</h1>

<div>
  <h2>
    <a href= "/resources">View precious gems of wisdom</a>
  </h2>
</div>
<div>
  <h2>
   <a href="/resources/new">Be a pal and post a p.g.o.w!</a>
 </h2>
  </div>