<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  --><link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

  
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/jquery.rating.css">
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>

<% if current_user %>
<form method="post" action="/log_out">
  <input type="submit" value="Log out">
</form>
Welcome <%= current_user.email %>
<% else %>
<ul>
  <li><a href="/log_in">Log in</a></li>
  <li><a href="/sign_up">Sign up</a></li>
</ul>
<% end %>
  <%= yield %>
</body>
</html>



